<yzone-sign-bar></yzone-sign-bar>
<div class="wrapper wrapper-full-page">
  <div class="full-page lock-page">
    <div class="content">
        <form method="#" action="#">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="avatar" src="./assets/img/faces/avatar.jpg" alt="...">
                    </a>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Tania Andrew</h4>
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Enter Password</label>
                        <input type="password" class="form-control">
                    <span class="material-input"></span></div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-rose btn-round">Unlock</button>
                </div>
            </div>
        </form>
    </div>
    <footer-cmp></footer-cmp>
    <div class="full-page-background" style="background-image: url(./../../../assets/img/lock.jpg) "></div>
  </div>
</div>