/* #images{
    position: fixed;
    left: 50%;
    margin-left: -25%;
    top: 10%;
    z-index: 2;
} */
audio{
    position: fixed;
    top: 40px;
    right: 10px;
    z-index: 1;
}
.full{
    display: none;
    position: fixed;
    top: 35px;
    right: 320px;
    z-index: 1;
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
}
#images{
    padding: 0;
}
ul{ padding: 0;}
ul:after{ clear: both}
li img{
    width: 100%;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

ul li{
    list-style: none;
    padding: 0;
}

.mask{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
}