.play_album{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.photo_list{
    img{
        max-height: 350px;
        max-width: 240px;
        cursor: pointer;
    }
}