

        <div class="logo">
            <div class="logo-normal">
                <a href="https://www.creative-tim.com" class="simple-text">
                    Creative Tim
                </a>
            </div>

            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
        </div>


        <div class="sidebar-wrapper">

            <div class="user">
                <div class="photo">
                    <img src="../assets/img/faces/avatar.jpg" />
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>
                            Tania Andrew
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="sidebar-mini">MP</span>
                                    <span class="sidebar-normal">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="sidebar-mini">EP</span>
                                    <span class="sidebar-normal">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="sidebar-mini">S</span>
                                    <span class="sidebar-normal">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nav-container">
                <ul class="nav">
                    <li routerLinkActive="active">
                        <a  [routerLink]="[menuItems[0].path]">
                            <i class="{{menuItems[0].icon}}">dashboard</i>
                            <p>{{menuItems[0].title}}</p>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a  [routerLink]="[menuItems[1].path]">
                            <i class="{{menuItems[1].icon}}">dashboard</i>
                            <p>{{menuItems[1].title}}</p>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a data-toggle="collapse" href="#materialManage">
                            <i class="material-icons">apps</i>
                            <p>素材管理
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="materialManage">
                            <ul class="nav">
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[2].path]">
                                        <span class="sidebar-mini">P</span>
                                        <span class="sidebar-normal">{{menuItems[2].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[3].path]">

                                        <span class="sidebar-mini">M</span>
                                        <span class="sidebar-normal">{{menuItems[3].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[4].path]">

                                        <span class="sidebar-mini">V</span>
                                        <span class="sidebar-normal">{{menuItems[4].title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li routerLinkActive="active">
                        <a  [routerLink]="[menuItems[5].path]">
                            <i class="{{menuItems[5].icon}}">dashboard</i>
                            <p>{{menuItems[5].title}}</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
