<audio id="audio" [hidden]="true" [src]="selectedMusic?.fileUrl" type="audio/mp3"></audio>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let music of musicList">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i (click)="playAudio(music)" class="material-icons cur_p">queue music</i>
          </div>
          <div class="card-content">
            <p class="category">{{music.muiscTitle}}</p>
            <!--<h3 class="card-title">引用量:0</h3>-->
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i>
              编辑
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>